*{
        margin: 0;
        padding: 0;
}



#carts{
    position: absolute;
    left: 30px;
    background-color: antiquewhite;
}
#lists-car{
        background-color:red;
        height: 500px;
}